/*mobile-first design*/

html {
  font-size: 16px;
}

body {
  background-color: white;
}

.buttontheme {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: rgb(52, 58, 64);
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  min-width: 40px;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.buttontheme:hover,
.buttontheme:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.buttontheme:active {
  opacity: .5;
}

body {
  width: 99vw;
  height: 100vh;
  justify-content: center;
  background: black;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  height: 100vh;
}

h1 {
  color: white;
  letter-spacing: 5px;
  animation: fadeIn 1s;
}

h2 {
  color: white;
}

nav {
  background: rgb(37, 37, 37);
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 1;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
}


#first {
  float: left;
  width: 50%;
}

#second {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33.33%;
}

#third {
  display:none;
  float: right;
  width: 33.33%;
  margin-right: 20px;
}

.menu-btn {
  display: flex;
  float: right;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  margin-right: 25px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .1s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .1s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


#counter{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#mintbutton {
  width: 300px;
}

#count {
  color: white;
  min-height: 40px;
  min-width: 40px;
  border: solid white 1px;
  border-radius: 6px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#mint {
  display: none;
}

.socials {
  filter: brightness(0%) drop-shadow(0 0 0.75rem rgb(255, 71, 66));
  width: 65px;
  height: 65px;
  padding: 10px;
  margin: 10px;
}

.socials:hover {
  transition: all .1s;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 10vh;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.1s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}

#overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

#overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


/* adjust to desktop */
@media screen and (min-width: 750px) {

  #first{
    width: 33.33%;
  }
  
  #second {
    display:flex;
  }

  #third {
    display:flex;
  }

  .menu-btn {
    display:none;
  }

  #overlay {
    display: none;
  }

}
